
name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn  package 
    - name:  upload artifact
      uses: actions/upload-artifact@v4
      with:
       name: my-artifact
       path: target/*.jar

    - name: Trivy FS scan 
      run: |
          trivy fs --format table -o trivy-fs-report.html .

    - name: Sonarqube scan
      uses: SonarSource/sonarqube-scan-action@v6
      env: 
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL}}
    - name: Docker QEMU setup
      uses: docker/setup-qemu-action@v3.7.0

    - name: Setup docker buildx
      uses: docker/setup-buildx-action@v3.11.1

    - name: Build docker image
      run: |
         docker build -t mkshahi/boardgame:latest .
    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Push to Docker Hub
      run: |
         docker push mkshahi/boardgame:latest
      
     
          
       

  
